elas:
  image: docker.elastic.co/elasticsearch/elasticsearch:5.6.15
  container_name: elas-{{ ENV }}
  restart: always
  net: host
  privileged: true
  environment:
    {% set total_memory=hostvars[inventory_hostname]['ansible_memtotal_mb']|int  %}
    {%- set value=total_memory//2  -%}
    - TZ=Asia/Shanghai
    - "ES_JAVA_OPTS=-Xms{{ value }}m  -Xmx{{ value }}m"
    # - "JAVA_OPTS=-Xms{{ value }}m  -Xmx{{ value }}m"
  ulimits:
    memlock:
      soft: -1
      hard: -1
  volumes:
    - ./data:/usr/share/elasticsearch/data
    - ./plugins:/usr/share/elasticsearch/plugins
  command:
    /usr/share/elasticsearch/bin/elasticsearch
    -Ecluster.name=elasticsearch-default
    -Enode.master=true
    -Ebootstrap.memory_lock=true
    -Enode.data=true
    -Enode.name={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address']  }}
    -Ediscovery.zen.minimum_master_nodes=2
    -Enetwork.publish_host={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address']  }}
    -Ediscovery.zen.ping.unicast.hosts={% for host in groups['elas'] %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}
