[mysqld]
{% if role == 'master' %}
server-id     =  1
log_bin       = bin-log
{% else %}
server-id = 2
{% endif %}
default-time_zone              = '+08:00'

#Log Settings #
log_output                     = file
log_queries_not_using_indexes  = 1
log_slow_admin_statements      = 1
log_slow_slave_statements      = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days               = 15
long_query_time                = 15
min_examined_row_limit         = 100
binlog-rows-query-log-events   = 1
log-bin-trust-function-creators = 1
log-slave-updates              = 1
slow-query-log                 = 1

# Connection
interactive_timeout = 1800
wait_timeout = 1800
lock_wait_timeout = 1800
skip_name_resolve = 1
max_connections = 1024
max_connect_errors = 1000000


# GTID Settings
gtid_mode                = on
enforce_gtid_consistency = 1
log_slave_updates        = 1

# InnoDB for Replicastion
{% for host in groups['mysql'] %}
{% if hostvars[host]['role'] == 'master' %}
innodb_read_io_threads = {{ hostvars[host]['ansible_processor_count'] }}
innodb_write_io_threads = {{ hostvars[host]['ansible_processor_count'] }}
{% endif %}
{%- endfor -%}

[mysql]
no-auto-rehash
max_allowed_packet             = 128M
prompt                         = '\u@\h [\d]>'
default_character_set          = utf8
